<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="icon" href="/image/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/lib/layui-v2.5.5/layui.js" charset="utf-8"></script>
    <script src="/js/page/index.js" charset="utf-8"></script>
</head>
<body>
<div id="container">
    <div></div>
    <div class="admin-login-background">
        <div class="admin-header">
            <img width="200px" src="/image/keydom.png" alt=""/>
        </div>
        <form id="form-login" class="layui-form" type="post" action="">
            <div>
                <i class="layui-icon layui-icon-username admin-icon"></i>
                <input type="text" name="userName" placeholder="请输入用户名" autocomplete="off"
                       class="layui-input admin-input admin-input-username">
            </div>
            <div>
                <i class="layui-icon layui-icon-password admin-icon"></i>
                <input type="password" name="password" placeholder="请输入密码" autocomplete="off"
                       class="layui-input admin-input">
            </div>
            <button type="button" id="login" class="layui-btn admin-button"
                    lay-submit="" lay-filter="login">登 陆</button>
        </form>
    </div>
</div>
<div class="footer">
    ©版权所有 2020 Hawile<span class="padding-5">|</span><a target="_blank" href="http://beian.miit.gov.cn">蜀ICP备20023415号</a>
</div>
</body>
</html>