<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/my.css" />
	<link rel="stylesheet" href="/css/ace.min.css" />
	<script src="/layui/layui.js" type="text/javascript"></script>
	<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/js/page/it_assets.js" type="text/javascript"></script>
	<title>IT固定资产</title>
</head>
<body>
	<script type="text/html" id="toolbarDemo">
		<div class="layui-btn-container">
			<button th:if="${role['account-add']}" class="layui-btn layui-btn-warm"
					lay-event="insert">添加资产</button>
		</div>
	</script>
	<script type="text/html" id="barDemo">
		<a class="layui-btn layui-btn-xs"
		   th:if="${role['account-edit']}" lay-event="edit" >编辑</a>
		<a class="layui-btn layui-btn-danger layui-btn-xs"
		   th:if="${role['account-delete']}" lay-event="delete">删除</a>
	</script>
	<table class="layui-hide" id="table" lay-filter="table"></table>

<!--添加固定资产-->
	<div id="add_assets_style" class="display-0">
		<form id="FormAdd" class="layui-form" method="post" action="">
			<div class="layui-form-item width-80" style="padding-top: 10px">
				<label class="layui-form-label width-40">
					<span style="color: red; ">*</span>设备编号:
				</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="number"
						   name="number" lay-verify="required"/>
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">
					<span style="color: red;">*</span>设备类型:
				</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="type"
						   name="type" lay-verify="required"/>
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">
					<span style="color: red;">*</span>设备名称:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="name"
						   name="name"  lay-verify="required"/>
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">设备品牌:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="brand" name="brand" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">设备型号:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="model" name="model" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">序列号:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="serial" name="serial" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">存放位置:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="position" name="position" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">使用人:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="user" name="user" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">用途:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="use" name="use" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">IP地址:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="ip" name="ip" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">使用网络:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="network" name="network" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">备注:</label>
				<div class="float-left width-50">
					<textarea class="layui-textarea" id="remark" name="remark"
							  rows="3" cols="20"></textarea>
				</div>
			</div>
			<div class="submit_btn">
				<button type="button" lay-submit="" lay-filter="subInsert"
						class="layui-btn layui-btn-normal">提交</button>
				<button type="button" onclick="layer.closeAll();"
						class="layui-btn layui-btn-danger">关闭</button>
			</div>
		</form>
	</div>
<!--修改固定资产-->
	<div id="up_assets_style" class="display-0">
		<form id="FormUp" class="layui-form" method="post" action="">
			<input type="hidden" id="id" name="id">
			<div class="layui-form-item width-80" style="padding-top: 10px">
				<label class="layui-form-label width-40">
					<span style="color: red; ">*</span>设备编号:
				</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_number"
						   name="number" readonly/>
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">
					<span style="color: red;">*</span>设备类型:
				</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_type"
						   name="type" lay-verify="required"/>
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">
					<span style="color: red;">*</span>设备名称:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_name"
						   name="name"  lay-verify="required"/>
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">设备品牌:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_brand" name="brand" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">设备型号:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_model" name="model" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">序列号:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_serial" name="serial" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">存放位置:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_position" name="position" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">使用人:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_user" name="user" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">用途:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_use" name="use" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">IP地址:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_ip" name="ip" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">使用网络:</label>
				<div class="float-left width-50">
					<input class="layui-input" type="text" id="up_network" name="network" />
				</div>
			</div>
			<div class="layui-form-item width-80">
				<label class="layui-form-label width-40">备注:</label>
				<div class="float-left width-50">
					<textarea class="layui-textarea" id="up_remark" name="remark"
							  rows="3" cols="20"></textarea>
				</div>
			</div>
			<div class="submit_btn">
				<button type="button" lay-submit="" lay-filter="subUpdate"
						class="layui-btn layui-btn-normal">提交</button>
				<button type="button" onclick="layer.closeAll();"
						class="layui-btn layui-btn-danger">关闭</button>
			</div>
		</form>
	</div>
</body>
</html>