<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/css/ace.min.css" />
	<link rel="stylesheet" href="/css/my.css" />
	<script src="/layui/layui.js" type="text/javascript"></script>
	<script src="/js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="/js/page/user_info.js" type="text/javascript"></script>
	<title>个人信息管理</title>
</head>
<body>
	<div class="user_info_style">
		<div>
			<form id="FormUser" class="layui-form" method="post" action="">
				<input type="hidden" name="id" th:value="${user.id}" />
				<input type="hidden" name="authId" th:value="${user.authId}" />
				<input type="hidden" name="userName" th:value="${user.userName}" />
				<table class="user_info_table" width="90%">
					<tr>
						<td width="25%">用户名:</td>
						<td colspan="3" th:text="${user.userName}"></td>
					</tr>
					<tr>
						<td width="25%">姓名:</td>
						<td class="info_td_0" th:text="${user.name}"></td>
						<td class="info_td_1 display-0" colspan="3">
							<input type="text" class="layui-input user_info"
											   name="name" th:value="${user.name}"></td>
					</tr>
					<tr>
						<td width="25%">性别:</td>
						<td class="info_td_0" th:text="${user.sex}"></td>
						<td class="info_td_1 display-0"><input id="sex0" name="sex" type="radio"
								   class="ace" th:value="保密" title="保密"/></td>
						<td class="info_td_1 display-0"><input id="sex1" name="sex" type="radio"
								   class="ace" th:value="男"  title="男" /></td>
						<td class="info_td_1 display-0"><input id="sex2" name="sex" type="radio"
								   class="ace" th:value="女"  title="女" /></td>
					</tr>
					<tr>
						<td width="25%">年龄:</td>
						<td class="info_td_0" th:text="${user.age}"></td>
						<td class="info_td_1 display-0" colspan="3">
							<input type="text" class="layui-input user_info" name="age"
								   lay-verify="number" th:value="${user.age}">
						</td>
					</tr>
					<tr>
						<td width="25%">部门:</td>
						<td class="info_td_0" th:text="${user.deptName}"></td>
						<td class="info_td_1 display-0" colspan="3">
							<select size="1" lay-filter="dept" id="deptSelect">
								<option th:each="dept: ${deptList}" th:value="${dept.deptId}"
										th:text="${dept.deptName}"></option>
							</select>
						</td>
					</tr>
					<tr>
						<td width="25%">职务:</td>
						<td class="info_td_0" th:text="${user.jobName}"></td>
						<td class="info_td_1 display-0" colspan="3">
							<select id="jobSelect" name="jobId"></select>
						</td>
					</tr>
					<tr>
						<td width="25%">移动电话:</td>
						<td class="info_td_0" th:text="${user.phone}"></td>
						<td class="info_td_1 display-0" colspan="3">
							<input type="text" name="phone" id="phone" th:value="${user.phone}"
								   class="text_info layui-input" lay-verify="number" />
						</td>
					</tr>
					<tr>
						<td width="25%">电子邮箱:</td>
						<td class="info_td_0" th:text="${user.email}"></td>
						<td class="info_td_1 display-0" colspan="3">
							<input type="text" class="text_info layui-input" name="email"
								   id="email" th:value="${user.email}" lay-verify="email" />
						</td>
					</tr>
					<tr>
						<td width="25%">QQ:</td>
						<td class="info_td_0" th:text="${user.qq}"></td>
						<td class="info_td_1 display-0" colspan="3">
							<input type="text" class="text_info layui-input" name="qq" id="qq"
								   th:value="${user.qq}" lay-verify="number" />
						</td>
					</tr>
					<tr>
						<td width="25%">注册时间:</td>
						<td colspan="3" th:text="${user.createTime}"></td>
					</tr>
				</table>
				<div class="Button_operation clearfix">
					<button id="changeInfoButton" th:if="${role['userInfo-edit']}"
							type="button" class="layui-btn layui-btn-danger"
							th:onclick="update([[${user.sex}]],[[${user.deptId}]],[[${user.jobId}]])">修改信息</button>
					<button id="saveInfoButton" type="button" class="layui-btn layui-btn-success display-0"
							lay-submit="" lay-filter="subUpdate">保存修改</button>
					<button id="quitInfoButton" type="button" class="layui-btn layui-btn-normal display-0"
							onclick="quitChangeInfo()">退出修改</button>
					<button id="changePwdButton" th:if="${role['userInfo-edit']}" type="button"
							class="layui-btn layui-btn-warm" onclick="changePwd()">修改密码</button>
				</div>
			</form>
		</div>
	</div>
	<div class="recording_style" style="width:70%;float: right">
		<script type="text/html" id="state">
			{{# if (d.state == "成功") { }}
			<span style="color: #00FF00; ">成功</span>
			{{# } else if(d.state == "失败") { }}
			<span style="color: #FF0000; ">失败</span>
			{{# } }}
		</script>
		<table class="layui-hide" id="table" lay-filter="table"></table>
	</div>
	<!--修改密码样式-->
	<div id="changePwdStyle" style="display: none" >
		<form id="changePwdForm" class="layui-form" method="post" action="">
			<input type="hidden" name="userName" th:value="${user.userName}" />
			<div class="layui-form-item width-80" style="padding-top: 10px">
				<label class="layui-form-label width-40"><span style="color: red; ">*</span>原密码:</label>
				<div class="float-left width-50">
					<input type="password" class="layui-input" id="oldPwd" name="oldPwd" lay-verify="required"/>
				</div>
			</div>
			<div class="layui-form-item width-80" style="padding-top: 10px">
				<label class="layui-form-label width-40"><span style="color: red; ">*</span>新密码:</label>
				<div class="float-left width-50">
					<input type="password" class="layui-input" id="newPwd" name="newPwd" lay-verify="required"/>
				</div>
			</div>
			<div class="layui-form-item width-80" style="padding-top: 10px">
				<label class="layui-form-label width-40"><span style="color: red; ">*</span>确认密码:</label>
				<div class="float-left width-50">
					<input type="password" class="layui-input" id="newPwd2" lay-verify="required"/>
				</div>
			</div>
			<div class="submit_btn">
				<button type="button" lay-submit="" lay-filter="subPwd" class="layui-btn layui-btn-normal">提交</button>
				<button type="button" onclick="layer.closeAll()" class="layui-btn layui-btn-danger">关闭</button>
			</div>
		</form>
	</div>
</body>
</html>